body {
	padding: 0;
	margin: 0;
	font-family: rockwell;
	font-size: 20px;
	background : #F7F7F7;
	animation: theme 21s linear infinite;
	-webkit-animation: theme 21s linear infinite;
}
@-webkit-keyframes theme {
	
	0% {
		background: #2617eb;
	}
	25% {
		background: #17d5eb;
	}
	50% {
		background: #21eb17;
	}
	75% {
		background: #ebad17;
	}
	100% {
		background: #74C390;
	}
}

/* Important part */
.modal-dialog{
	overflow-y: initial !important
}

.modal-content {
	width: 802px;
}
.modal-body {
	max-height: calc(100vh - 200px);
	width: 100%;
	overflow-y: auto;
}

pre {
	width: 100%;
}

.entete
{
	width: 100%;
	height: auto;
	text-align: center;
	padding-top: 1%;
	background-size: 60%;
	margin-bottom: 3%;

}

.btn-success, .btn-info, .btn-primary {
	border-radius: 0 !important;
}
#navigation{
 
 height: 50px;
 text-align: center;
 font-size: 20px;
}
.thumbnail
{
	height: 225px;
	padding-top: 15px;
}
#closeButton
{
	border-radius: 0px;
}


