
.entete
{
	width: 100%;
	height: auto;
	text-align: center;
	padding-top: 1%;
	background-size: 60%;
	margin-bottom: 3%;

}
.return
{
	margin-top: 1%;
	margin-bottom: 1%;
}
#board
{
	margin-top: 1%;
	margin-bottom: 1%;

}
body
{
	font-family: rockwell;
	font-size: 20px;
	background : #F7F7F7;
}
#title
{
	font-size: 50px;
}
#subtitle
{
	font-size: 20px;
}
#image
{
	width: 100%;
	height: auto;
}

