body {
	padding: 0;
	margin: 0;
	font-family: rockwell;
	font-size: 20px;
	background : #F7F7F7;
	animation: theme 21s linear infinite;
	-webkit-animation: theme 21s linear infinite;
}
@-webkit-keyframes theme {
	0% {
		background: #eb1717;
	}
	16% {
		background: #eb17d5;
	}
	33% {
		background: #2617eb;
	}
	50% {
		background: #17d5eb;
	}
	66% {
		background: #21eb17;
	}
	83% {
		background: #ebad17;
	}
	100% {
		background: #74C390;
	}
}

/* Important part */
.modal-dialog{
	overflow-y: initial !important
}
.modal-body{
	max-height: calc(100vh - 200px);
	max-width: 70%;
	overflow-y: auto;
}

.entete
{
	width: 100%;
	height: auto;
	text-align: center;
	padding-top: 1%;
	background-size: 60%;
	margin-bottom: 3%;

}
